#text-cont{
    float:left;
    width:660px;
    min-height:510px;
    background:rgb(110,110,110);
    border-top-right-radius:10px; 
    border-bottom-right-radius:10px; 
    padding:20px;
    padding-top:30px;
}

#text-cont h1{
    font-family:Arial;
    font-size:40px;
    line-height:30px;
    color:rgb(255,139,0);
    font-weight:normal;
}

#text-cont p{
    font-family:Arial;
    margin-top:20px;
    color:white;
}

#text-cont #post-cont{
       width:100%;

}

#text-cont #post-nav{
    margin-top:20px;
    width:100%;
    height:50px;
    font-family:Arial;
    color:white;
    text-decoration:none;
}

#text-cont #post-nav #prev{
    width:50%;
    float:left;
}

#text-cont #post-nav #next{
    text-align:right;
    float:right;
    width:50%; 
}

#text-cont #post-nav a{
    text-decoration:none;
    color:white;
}

#prev:hover, #next:hover{
    text-decoration:underline;
}