#text-cont{
    float:left;
    width:685px;
    height:auto;
    background:rgb(110,110,110);
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    padding:5px;
}

#text-cont #servicios{
    border: 5px solid rgb(0,174,239);
    border-radius: 10px;
    overflow: hidden;
    color: rgb(230,230,230);
    background: rgb(20,20,20);
    font-family: 'sourceSansRegular';
    padding-bottom: 20px;
}

#header-sl{
    width: 675px;
    height: 280px;
    background: url('../images/produccionessl.png') center center no-repeat;
}

#texto-sl p{
    padding: 20px;
    padding-bottom: 0;
}

#texto-sl #wrap-ul{
    width: 440px;
    height: 130px;
    margin:auto;
    margin-top: 30px;
    padding: 30px;
    text-align: center;
    border: 2px solid rgb(253, 82, 22);
    font-size: 1.2rem;
}
#texto-sl #wrap-ul{
width: 480px;
height: 200px;
margin: 30px auto auto;
padding: 30px;
text-align: center;
border: 2px solid #FD5216;
font-size: 1.4rem;
font-family: bebasRegular;
line-height: 1.5;
}

#texto-sl #wrap-ul{
    height: 145px;
    padding: 20px;
    font-size: 1rem;
}

#texto-sl ul{
    float: left;
    width: 240px;
}

#texto-sl ul li{
    list-style: none;
    letter-spacing: 0.1em;
}

#texto-sl h1{
    text-align: center;
    padding: 20px;
    color: rgb(253,82,22);
    font-weight: 100;
    font-family: 'bebasRegular', 'Open Sans';
    letter-spacing: 2px;
    background: rgb(245,245,245);
    margin-top: 20px;
}

.tabla{
    padding: 20px 40px;
    color: white;
    margin: auto;
    width: 589px;
    display: table;
}

.tabla .row{
    clear: both;
    height: 240px;
    display: table-row;
}

.tabla .row-titulos, .tabla .row-titulos .cell{
    height: 32px;
}

.tabla .cell.top{
    border-top: solid 2px rgb(253, 82, 22);
}

.row .cell{
    width: 219px;
    height: 140px;
    border: solid 2px rgb(253, 82, 22);
    border-top: none;
    display: table-cell;
    vertical-align: middle;
}

.tabla .row .cell p{
    padding: 0  !important;
}

.tabla h2{
    letter-spacing: 2px;
}

.tabla h4{
    font-family: 'sourceSansRegular';
    text-align: center;
}

.tabla .row .cell-region{
    line-height: 30px;
    text-align: center;
    font-family: 'bebasRegular', Open Sans;
}

.tabla .cell.cell-info{
    width: 281px;
    height: 180px;
    border-left: none;
    padding: 0 7%;
}
